<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- build:css(.tmp) styles/chatWindow.min.css -->
    <link rel="stylesheet" href="styles/css/chatWindow.css">
    <!-- endbuild -->
</head>
<body ng-app="webChat" drag-n-drop>

    <!--  I am making a directive -->
    <chat-window-box class="view chat_window"></chat-window-box>

    <!-- The template for the chat window -->
    <script type="text/ng-template" id="chatWindowBox">
        <section class="chat_messages">
            <ul>
                <li class="message" ng-repeat="message in chat.messages">
                    <aside class="col message_author">{{::message.author}}</aside>
                    <div class="col messages">
                        {{ ::message.contents }}
                    </div>
                </li>

            </ul>
        </section>

        <footer class="chat_post">
            <form ng-submit="chat.postMessage()">

                <input type="text"
                       name="message"
                       id="message"
                       ng-model="chat.message"
                       placeholder="Enter your message here...">
                <button type="submit" class="ui button right floated">Send</button>
            </form>

        </footer>
    </script>

    <!-- build:js scripts/components.min.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/chance/chance.js"></script>
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js scripts/app.min.js -->
    <script src="scripts/common/common.module.js"></script>
    <script src="scripts/common/constants/events.js"></script>
    <script src="scripts/common/services/chance.js"></script>
    <script src="scripts/common/directives/dragNDrop.js"></script>

    <script src="scripts/chatWindow/chatWindow.module.js"></script>
    <script src="scripts/chatWindow/models/ChatWindow.js"></script>
    <script src="scripts/chatWindow/directives/chatWindowBox.js"></script>

    <script src="scripts/core/core.module.js"></script>
    <script src="scripts/core/controllers/MainCtrl.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/addPostMessageListeners.js"></script>
    <!-- endbuild -->

</body>
</html>
