<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <!-- build:css(.tmp) styles/main.min.css -->
    <link rel="stylesheet" href="styles/css/chatWindow.css">
    <!-- endbuild -->
</head>
<body>
    <chat-window class="view chat_window"
                 ng-repeat="chat in main.chatWindows track by chat.id">

        <header class="chat_caption">
            Chat Window #
            <span class="btn_close">x</span>
        </header>

        <section class="chat_messages">
            <ul>
                <li class="message">
                    <aside class="col message_author">Arik</aside>
                    <div class="col messages">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci at consequuntur culpa cum doloremque
                        facilis id laboriosam magni mollitia nam neque nesciunt, nobis nostrum quae rem repellat temporibus veritatis!
                    </div>
                </li>
                <li class="message">
                    <aside class="col message_author">Arik</aside>
                    <div class="col messages">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci at consequuntur culpa cum doloremque
                        facilis id laboriosam magni mollitia nam neque nesciunt, nobis nostrum quae rem repellat temporibus veritatis!
                    </div>
                </li>
                <li class="message">
                    <aside class="col message_author">Arik</aside>
                    <div class="col messages">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci at consequuntur culpa cum doloremque
                        facilis id laboriosam magni mollitia nam neque nesciunt, nobis nostrum quae rem repellat temporibus veritatis!
                    </div>
                </li>
                <li class="message">
                    <aside class="col message_author">Arik</aside>
                    <div class="col messages">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci at consequuntur culpa cum doloremque
                        facilis id laboriosam magni mollitia nam neque nesciunt, nobis nostrum quae rem repellat temporibus veritatis!
                    </div>
                </li>
            </ul>
        </section>

        <footer class="chat_post">
            <form>
                <!--<span class="ui floated right header counter">{{push.maxChars - push.notification.length}}</span>-->

          <textarea name="notification"
                    id="notification"
                    cols="30" rows="1" placeholder="Enter your message here..."
                    ng-model="push.notification" max-length-block="push.maxChars" ng-keydown="push.submitOnEnter($event)"
                    ng-class="{'bad': postNotification.notification.$invalid && postNotification.notification.$dirty}">
          </textarea>

                <!--<p class="sending" ng-show="push.sendingState.isSending">{{ push.sendingState.message }}</p>-->
                <!--<p class="sending" ng-show="postNotification.notification.$dirty && postNotification.notification.$error.required">-->
                <!--You must enter a message!</p>-->

                <button type="submit" class="ui button right floated">Send</button>
            </form>

        </footer>

    </chat-window>

    <!-- build:js scripts/components.min.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js scripts/app.min.js -->
    <script src="scripts/common/common.module.js"></script>
    <script src="scripts/common/guid.js"></script>

    <script src="scripts/chatWindow/chatWindow.module.js"></script>
    <script src="scripts/chatWindow/ChatWindow.js"></script>

    <script src="scripts/core/core.module.js"></script>
    <script src="scripts/core/MainCtrl.js"></script>

    <script src="scripts/app.js"></script>
    <!-- endbuild -->

</body>
</html>
