<!doctype html>
<!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en" ng-app="webChat"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="webChat"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WebChat</title>
    <meta name="description" content="WebChat">

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Set a shorter title for iOS6 devices when saved to home screen -->
    <meta name="apple-mobile-web-app-title" content="WebChat">

    <!-- Properties for Google+ snippets -->
    <meta property="og:title" content="WebChat">
    <meta property="og:description" content="WebChat">
    <meta property="og:image" content="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png">

    <!-- Author of this application -->
    <link rel="author" href="https://github.com/mgcrea">
    <link rel="icon" href="http://angularjs.org/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://angularjs.org/favicon.ico" type="image/x-icon">

    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css"/> -->

    <!-- build:css styles/components.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.min.css -->
    <link rel="stylesheet" href="styles/css/main.css">
    <!-- endbuild -->

</head>

<body ontouchstart ng-cloak>

    <main ng-controller="MainCtrl as main">

        <chat-window class="view chat_window"
                 ng-repeat="chat in main.chatWindows track by chat.id">

            <header class="chat_caption">
                Chat Window #
                <span class="btn_close">x</span>
            </header>

            <!--<form id="textarea" name="postNotification" class="ui form" ng-submit="push.postMessage()">-->
                <!--<h3 class="ui left floated header title">Push Message</h3>-->
                <!--<span class="ui floated right header counter">{{push.maxChars - push.notification.length}}</span>-->
                <!--<h5 class="ui floated right header sub_tilte">Please fill the form below</h5>-->

                <!--<div class="field">-->
          <!--<textarea name="notification" id="notification" cols="30" rows="10" placeholder="Enter your notification message here..."-->
                    <!--ng-model="push.notification" max-length-block="push.maxChars" ng-keydown="push.submitOnEnter($event)"-->
                    <!--ng-class="{'bad': postNotification.notification.$invalid && postNotification.notification.$dirty}"-->
                    <!--ng-required="true">-->
          <!--</textarea>-->
                <!--</div>-->

                <!--<p class="sending" ng-show="push.sendingState.isSending">{{ push.sendingState.message }}</p>-->
                <!--<p class="sending" ng-show="postNotification.notification.$dirty && postNotification.notification.$error.required">-->
                    <!--You must enter a message!</p>-->

                <!--<button type="submit" class="ui button right floated" ng-disabled="postNotification.$invalid">Send</button>-->
            <!--</form>-->

        </chat-window>

        <!--<section id="start_section" ng-hide="main.isShownForm" class="view chat_container">-->
        <!--<a href="javascript:void(0)" ng-click="main.isShownForm = true"><h3 class="ui left floated header title">Push Message</h3></a>-->
        <!--</section>-->

    </main>

    <!-- build:js scripts/components.min.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js scripts/app.min.js -->
    <script src="scripts/common/common.module.js"></script>
    <script src="scripts/common/guid.js"></script>

    <script src="scripts/chatWindow/chatWindow.module.js"></script>
    <script src="scripts/chatWindow/ChatWindow.js"></script>

    <script src="scripts/core/core.module.js"></script>
    <script src="scripts/core/MainCtrl.js"></script>

    <script src="scripts/app.js"></script>
    <!-- endbuild -->

</body>

</html>
