<!doctype html>
<html class="no-js" lang="en" ng-app="webChat">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>WebChat</title>
    <meta name="description" content="WebChat">

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!-- Set a shorter title for iOS6 devices when saved to home screen -->
    <meta name="apple-mobile-web-app-title" content="WebChat">

    <!-- Properties for Google+ snippets -->
    <meta property="og:title" content="WebChat">
    <meta property="og:description" content="WebChat">
    <meta property="og:image" content="https://github.global.ssl.fastly.net/images/modules/logos_page/Octocat.png">

    <!-- build:css styles/components.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.min.css -->
    <link rel="stylesheet" href="styles/css/main.css">
    <!-- endbuild -->

    <script>

    </script>

</head>

<body ontouchstart ng-cloak drag-n-drop>

    <main ng-controller="MainCtrl as main">

        <div class="chat_wrapper" ng-repeat="chat in main.chatWindows" draggable="true" id="{{chat.id}}">
            <header class="chat_caption">
                Chat Window {{ ::chat.name }}
                <span class="btn_close">x</span>
            </header>

            <iframe src="chat.html" frameborder="0" seamless width="359" height="450" scrolling="no"></iframe>
        </div>

        <button ng-click="main.addNewWindow()" class="btn_new_window">+</button>

    </main>

    <!-- build:js scripts/components.min.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/chance/chance.js"></script>
    <!-- endbower -->

    <!-- endbuild -->

    <!-- build:js scripts/app.min.js -->
    <script src="scripts/common/common.module.js"></script>
    <script src="scripts/common/dragNDrop.js"></script>

    <script src="scripts/chatWindow/chatWindow.module.js"></script>
    <script src="scripts/chatWindow/ChatWindow.js"></script>

    <script src="scripts/core/core.module.js"></script>
    <script src="scripts/core/MainCtrl.js"></script>

    <script src="scripts/app.js"></script>
    <!-- endbuild -->

</body>

</html>
