$chatWindowBg: #ffffff;
$chatWindowWidth: 359px;
$chatWindowHeight: 500px;
$closeButtonBg: #151515;
$chatCaptionBg: #b06894;
$chatCaptionColor: #fff;
$closeButtonColor: #fff;
$closeButtonSize: 40px;
$messageColor: #3D3C40;
$boxPadding: 12px;
$postBorderColor: #EBEBEB;
$buttonColor: #3A3A3A;
$buttonBg: #E8DDE5;
$chatPostHeight: 2rem;
$plusButtonSize: 50px;
