@import "compass/css3";
@import "vars";
@import "mixins";
@import "core/general";

.btn_new_window {
  border: 0;
  padding: 0;
  background: transparent;

  &.btn_fixed {
    position: fixed;
    bottom: 45px;
    right: 25px;
    z-index: 200;
    outline:none;
  }

  .btn_floating {
    background: $chatCaptionBg;
    display: inline-block;
    color: #FFF;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: $plusButtonSize;
    height: $plusButtonSize;
    line-height: $plusButtonSize;
    font-size: 2em;
    padding: 0;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
  }
}

.chat_wrapper {
  display: inline-block;
  position: absolute;
  border-radius: 7px;
  @include box-shadow(rgba(33, 33, 33, 0.4) 0 0 7px);
  background: $chatWindowBg;
  width: $chatWindowWidth;
  height: $chatWindowHeight;
  margin: auto;
  overflow: hidden;
}

// X close button
.btn_close {
  background: $closeButtonBg;
  color: $closeButtonColor;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  width: $closeButtonSize;
  height: 100%;
  display: inline-block;
  font: 25px Andale Mono, monospace;
  text-align: center;
  cursor: pointer;
  line-height: 38px;

  &:hover {
    background: lighten($closeButtonBg, 10%);
  }
}

.chat_caption {
  background: $chatCaptionBg;
  border-bottom: 1px solid $chatCaptionBg;
  color: $chatCaptionColor;
  margin: 0;
  padding: $boxPadding;
  position: relative;
}
