@import "compass/css3";

* {
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', sans-serif;
}

a {
  text-decoration: none;
}

.chat_container {
  @include border-top-radius(7px);
  @include box-shadow(rgba(33, 33, 33, 0.4) 0 0 7px);
  background: #ffffff;
  width: 359px;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  right: 70px;
  .close {
    background: #151515;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 41px;
    height: 38px;
    display: inline-block;
    color: #fff;
    font: 25px/20px Andale Mono, monospace;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    @include transition-property(background);
    @include transition-duration(0.08s);
    @include transition-timing-function(ease-in);
    &:hover {
      background: #313131;
    }
  }
  .title {
    margin: 0;
    padding: 11px 15px;
    font-weight: 100;
    color: #fff;
    background: #464646;
    font-size: 14px;
    text-align: center;

  }
  .sub_tilte {
    background: #b06894;
    border-bottom: 1px solid #b06894;
    margin: 0;
    padding: 12px 15px 11px;
    color: #fff;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -13px;
      left: 25px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #b06894;
    }
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: -12px;
      left: 25px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #b06894;
    }
  }
  textarea {
    border: 1px solid #EBEBEB;
    width: calc(100% - 73px);
    font-style: italic;
    margin: 17px 15px 15px;
    padding: 20px;
    border-radius: 5px;
    background: rgba(252, 252, 252, 0.27);
  }
  .counter {
    position: absolute;
    right: 0;
    font-size: 12px;
    color: #D7D7D7;
    z-index: 999;
    top: 50px;
    right: 9px;
  }
  button {
    background-color: #3A3A3A;
    border-color: transparent;
    float: right;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    line-height: 33px;
    min-height: 35px;
    padding: 0 15px;
    background: #E8DDE5;
    color: #828282;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin: 0 17px 16px 0;
    cursor: pointer;
    font-size: 15px;
    @include transition-property(background);
    @include transition-duration(0.08s);
    @include transition-timing-function(ease-in);
    &:hover {
      background-color: #D2C7CF;
      color: #828282;
    }
  }
}
